@use '../../style/mixins';

.guest-background{
    background: url('../../assets/images/LoginBackground.jpg') no-repeat center;
    background-size: cover;
    @include mixins.background;
}

.guest-background .guest-background__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 100vh;
    width: 100%;
    z-index: 2;
    box-sizing: border-box;
    overflow-y: auto;
}
