// =========================================================================
// 📌 Các styles cơ bản của toàn bộ trang web
// =========================================================================
@use '../abstracts/variables';

body {
    margin: 0;
    padding: 0;
    font-family: variables.$font-family;
    height: 100vh;
    overflow: hidden;

   // Hiệu ứng mờ nền
   .blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: variables.$background-blur;
    backdrop-filter: blur(5px);
    z-index: 1;
}     
}