// =========================================================================
// 📌 Style thiết kế logo và ký hiệu chung
// =========================================================================

.login-uni-logo{
    width: 200px;
    height: auto;
    margin: 0;
}