img.chart_option{
    width: 30px;
    height: auto;
}

h2.title_heading{
    margin: 0 0 0 5px;
    color:darkblue;
}

.chart_div{
    display: grid;
    place-items: center; 
    height: 500px;
    width: 100%;
    min-width: 800px !important;
    margin-bottom: 40px ;
}

canvas {
    background-color: #fff;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    min-width: 700px;
    min-height: 500px;
    max-height: 500px;
}

.info_div{
    width: 700px;
    margin: auto;
}

.info_div h4{
    margin: 20px 0;
}

.info_div p{
    margin: 10px 0 10px 20px;
}

.chart_div_options {
    width: 225px;
    margin: 0 auto;
    left: 360px;
}

.UI_qlnd_container .filter_div_options{
    min-width: 100px;
    top: -25px;
    left: 10px;
}