.div_path_web{
    width: 800px !important;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.container_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0; 
    align-items: left;
    margin-bottom: 20px;
    align-items: center; 
}

.icon{
    height: 60px;
    width: 60px;
    margin: 0 10px;
    border-radius: 100%;
    background: #007bff;
}

.divine-line{
    margin-left: 5px;
    width: 1px;
    height: 50px;
    background-color: gray;
}

.path_info_container{
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;  
}

.path_info_container img{
    height: 40px;
    width: 40px;
    filter: invert(100%);
    margin-top: 10px;
    margin-left: 10px;
}

.path_info_container:nth-child(2) img{
    margin-left: 13px !important;
}

.div_path_web h4{
    margin: 5px 0 10px 0;
}

.path_info_text p{
    margin: 0;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;    
}

.path_info_text{
    flex-grow: 1;
}

.date_div{
    margin: 0 0 10px 10px;
    padding: 5px 10px;
    background-color: #c6ffc6;
    width: fit-content;
}

.dangkysl_div{
    margin: 0 0 10px 10px;
    padding: 5px 10px;
    background-color: #feffc6;
    width: fit-content;
}

.note_div{
    margin: 0 0 0 10px;
    padding: 5px 10px;
    background-color: #dcfaff;
}

.date_div *, .note_div *, .dangkysl_div *{
    margin: 0 !important;
}

.note_div h4{
    margin-bottom: 10px !important;
    margin-top: 5px !important;
}

.note_div p{
    margin: 0 0 7px 20px !important;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;    
}

.custom-button-dktc{
    width: 100%;
    height: 40px;
    font-size: 1.1rem; 
    font-weight: bold;
    background-color: #3399ff;
    color: white; /* Màu chữ */
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, scale 0.3s ease;
}

.custom-button-dktc:hover:not(.da_dang_ky){
    background-color: #2685ff;
    scale: 1.02;
}

.custom-button-dktc:active:not(.da_dang_ky) {
    background-color: #007bff;
    scale: 0.98;
}

.custom-button-dktc.da_dang_ky{
    background-color: #99ccff;
    cursor: not-allowed;
}

.linedown *{
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;   
}

.linedown > p{
    margin-left: 20px;
    text-indent: 30px;
}

.media{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media iframe,
.media img{
    width: 560px; 
    height: 310px;
}

.media p{
    margin: 10px 100px 0 100px;
    font-style: italic;
    text-align: center;
    color: gray;
}
