.notification_details{
    margin-left: 20px;
}

.linediv.notifi {
    justify-content: space-between;
}

.notifi h1{
    margin-left: 20px;
}

.group_button {
    margin-right: 10px;
}

.notifi_content{
    width: 100%;
    height: 410px;
    overflow-y: auto;
}   

.notification_details .title {
    font-size: 20px;
    font-weight: bold;    
}

.notification_details .date {
    color: #6d6d6d;
    font-style: italic;
}

.info_notifi_container{
    width: 380px;
    box-sizing: border-box;
    padding: 0 20px;
}

.info_notifi_container *, p.note{
    overflow-wrap: normal; 
    white-space: normal;   
}

.info_notifi_container h2{
    color: #002c58
}

p.type, p.date{
    margin: 0;
}

p.date{
    font-style: italic;
}

.info_group{
    display: none;
}

p.note{
    margin-left: 20px;
    font-style: italic;
    color: rgb(168, 168, 168);
    text-align: center;
}