/* Giao diện chung */
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
    overflow: hidden;
}

.text-content{
    line-height: 1.4;     
}

input{
    padding-left: 10px !important;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

input::placeholder{
    color: #888;
    font-style: italic;
    margin-left: 10px;
}

input:disabled{
    cursor: not-allowed;
}

select{
    padding: 5px;
    border: 1px solid #ccc; 
    border-radius: 10px;
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.UI_qlnd_container{
    width: 90%;
    max-width: 1200px;
    min-width: 900px;
    margin: 0 auto;
}

button, input[type="button"], input[type="reset"], input[type="submit"]{
    cursor: pointer;
}

label,
.swal2-html-container{
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;    
}

.options.layout label{
    white-space: nowrap;
}

.search-container {
    display: flex; 
    border: 1px solid #ddd;
    background-color: #fff; 
    border-radius: 25px; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width:fit-content;
}

.search-input {
    border: none; 
    padding: 10px 15px; 
    width: 300px; 
    outline: none; 
    margin: 0 !important;
}

.search-button {
    border: none; 
    background-color: #fff;
    cursor: pointer; 
    padding: 10px; 
    border-radius: 25px;
    transition: background-color 0.3s ease;
    font-size: 1px;
}

.search-icon {
    width: 15px;
    height: 15px;
    object-fit: cover;
}

.search-button:hover {
    background-color: #ddd; 
}

.input_div{
    margin-bottom: 10px;
}

.button_div{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.layout {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    transition: opacity 0.5s ease, visibility 0.5s ease;
}


.layout{
    opacity: 0;
    visibility: hidden;
}

.layout.show {
    opacity: 1;
    visibility: visible;
}

.options input[type="submit"] {
    border: none;
    background-color: #0083ce;
    padding: 7px 10px;
    border-radius: 10px;
    color: white;   
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.options input[type="submit"]:hover {
    background-color: #006bb3;
}

/* thanh nav bên trái */
.sidebar {
    width: 250px;
    background-color: #0D47A1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    overflow-y: auto;
    transition: transform 0.3s ease, width 0.3s ease, padding 0.3s ease;
    transform: translateX(0);
    z-index: 1000;
    position: fixed;
    top: 0;
    bottom: 0;
}

.nav-toggle {
    display: block; 
    position: fixed;
    top: 30px;
    left: 0;
    z-index: 1000;
    background-color: #0D47A1b7;
    padding: 10px 20px;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 16px;
    min-width: 30px;
    min-height: 25px;
}

.nav-toggle-icon {
    width: 25px;
    height: 25px;
    background-image: url('../icon/nav_toggle_menu.png');
    background-size: cover;
    filter: invert(100%) grayscale(100%);
}

.nav-toggle:hover{
    background-color: #0D47A1d7;
}

.nav-toggle:active{
    background-color: #0D47A1;
}


.logo img {
    width: 100%;
    margin-bottom: 20px;
    background-color: #ecf0f1;
}

.nav-links {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 10px 0;
    padding: 0;
    position: relative;
}

.nav-links li a {
    width: calc(100% - 40px);
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    display: block;
    width: 100%;
    background-color: #0D47A1;
    border-radius: 5px;
    transition: background-color 0.2s, transform 0.2s;
}

.nav-links li a:hover {
    background-color: #1E88E5;
    transform: translateX(20px);
}

.nav-links li a:active {
    background-color: #9cd1ff;
    transform: translateX(20px);
}

.nav-links li:first-child a:hover {
    background-color: #FF6F00;
    transform: translateX(20px);
}

/* thanh nav trên cùng */
.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    z-index: 10;
    box-sizing: border-box;
    margin-left: 290px;
    min-width: 450px;
}

.navbar {
    width: calc(100% - 290px);
    height: 70px; 
    background-color: #42A5F5;
    padding: 0 20px 0 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed; 
    box-sizing: border-box;
    top: 0; 
    z-index: 1000; 
}

.navbar-content {
    display: flex;
    align-items: center;
}

.info {
    display: flex;
    align-items: center;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}

.details p{
    margin: 0;
}

.user-details.details{
    color: white;
}

.user-details .username {
    font-size: 18px;
    font-weight: bold;
}

.user-details .user-id, .user-role {
    font-size: 13px;
}

.user-details .user-id{
    font-style: italic;
    color:lightyellow;
}

.user-info{
    margin-right: 10px;
}

.button-container {
    background: transparent; 
    border: none; 
    padding: 0;
    cursor: default; 
    display: block; 
    width: 100%;  
}

.listview{
    max-width: 100%;
    text-align: left;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #e0f7fa;
    padding: 15px 20px; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
    margin-bottom: 5px; 
    cursor: pointer; 
}

.listview div{
    max-width: calc(100% - 40px);
}

.listview div p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.red_dots{
    width: 15px;
    height: 15px;
    background-color: #ff0000;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #ddd;
}

.listview:hover {
    background-color: #b2ebf2;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
}

.listview:active {
    background-color: #80deea; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transform: scale(0.98); 
}


.icon-button{
    background-color: transparent; 
    border: none; 
    outline: none;
    padding: 0; 
}

.icon-button img {
    width: 30px; 
    height: 30px;
    border-radius: 10%;
    padding: 10px;
    border: none; 
    outline: none; 
    background-color: transparent; 
    margin: 0 0 0 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 0 0 transparent;
}

.icon-button img:hover {
    transform: scale(1.1); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.icon-button img:active {
    transform: scale(0.9); 
}

.main-content {
    margin-top: 70px;
    flex: 1;
    padding: 0;
    position: relative;
    overflow: auto;
}

.footer {
    background-color: transparent !important; 
    color: #ddeaff; 
    text-align: left; 
    padding: 15px 0; 
    width: 95%; 
    box-sizing: border-box; 
    position: absolute; 
    bottom: 0;
    left: 10px;
}

.footer p {
    margin: 0;
    font-size: 14px;
    word-break: break-word;
    overflow-wrap: break-word;
    display: block;
    padding: 0 15px;
    white-space: normal;
}


.body_container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #ecf0f1;
    overflow: auto;
}

.body_path{
    padding: 30px 40px;
    flex-grow: 1;
    animation: MainFloatShow 0.75s ease forwards;
}


.linediv {
    display: flex;
    align-items: center;
}

.title h1 {
    margin: 0 20px 0 0; 
}

.title img {
    width: 40px; 
    height: 100%;
}

.notification{
    position: fixed;
    width: 380px;
    height: 480px;
    top: 70px;
    right: 70px;
    padding: 0 !important;
    font-size: 14px;
    z-index: 100;
}

.nop_ho_so{
    position: relative;
    width: 100%;
    height: 200px !important;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    background-image: url("../images/DangKyBar.jpg");
    background-size: cover; 
    background-position: center 25%;
    background-repeat: no-repeat;
}

.nop_ho_so .content {
    position: absolute;
    width: 500px;
    z-index: 2;
    text-align: left;
    bottom: 30px;
    left: 50px;
    animation: floatInDangky 1s ease forwards;
    opacity: 0; 
}

.nop_ho_so .content h2 {
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    color: #2c3e50;
    word-wrap: break-word;
    white-space: normal;  
}

.nop_ho_so .content .register-btn {
    background-color: rgb(255, 246, 230);
    border: 2px solid #3498db; 
    padding: 15px 30px;
    color: #3498db; 
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 30px;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 10px rgba(52, 152, 219, 0.4);
}

.nop_ho_so .content .register-btn:hover {
    background-color: #3498db; 
    color: rgb(255, 246, 230); 
    box-shadow: 0px 6px 20px rgba(52, 152, 219, 0.6); 
}

.nop_ho_so .content .register-btn:active {
    background-color: #2980b9; 
    border-color: #2980b9; 
    box-shadow: 0px 4px 8px rgba(41, 128, 185, 0.5); 
    transform: translateY(2px); 
}

.options{
    position: absolute !important;
    z-index: 50;
}

.div_path_web{
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.checkbox-group label input[type="radio"]{
    margin-left: 20px;
}

.options.layout h3{
    margin: 0px;
    flex: 1;
    margin-right: 10px !important;
}

.options.layout .linediv{
    margin-bottom: 10px;
}

.options.layout .button_div input[type="button"] {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold !important;
    margin: 0px;
}

#loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3498db;
    z-index: 9999;
    transition: width 0.4s ease;
    display:none;
    background-color: #ffffff50;
}

#loading-bar img{
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translateX(-50%) translateY(-50%);
}

@media (max-width: 768px) {
    .nop_ho_so {
        height: 175px; 
    }
}

/* Giao diện trang chủ thay đổi*/
@media (max-width: 1000px) {
    .nav-toggle {
        display: block;
    }

    .sidebar {
        transform: translateX(-100%);
    }

    .nav-links li:first-child a{
        display: block;
    }

    .right-side {
        margin-left: 0 !important;
        
    }

    .navbar{
        width: 100% !important;
        margin: 0 !important;
        z-index: 500;
    }
}

@media (min-width: 1001px) {
    .nav-toggle {
        display: none;
    }

    .nav-links li:first-child a{
        display: none;
    }

    .sidebar {
        transform: translateX(0%) !important;
    }
}

@keyframes floatInDangky {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0); 
        opacity: 1; 
    }
}

@keyframes MainFloatShow {
    0% {
        transform: translateY(30%);
        opacity: 0;
    }
    100% {
        transform: translateY(0); 
        opacity: 1; 
    }
}

