table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    table-layout: fixed;
}

.table_body_scroll {
    overflow-y: auto; 
    overflow-x: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.table_body_scroll::-webkit-scrollbar {
    display: none; 
}

table thead {
    position: sticky;
    top: 0;
    z-index: 2; 
    background-color: #3498db;
    color: white;
    text-align: center;
    font-weight: bold;
}

table th, table td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
    white-space: normal;     
    word-break: break-word; 
    box-sizing: border-box;
}

table.choose_list tbody tr {
    border-bottom: 1px solid #dddddd;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

table.choose_list tbody tr:not(.error_tdtable){
    cursor: pointer;
}

table.choose_list tbody tr:hover:not(.error_tdtable) {
    background-color: #e4e4e4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table.choose_list tbody tr:active:not(.error_tdtable) {
    background-color: #d4d4d4;
    box-shadow: 0;
}

.error_tdtable{
    color: red; 
    text-align: center;
    font-weight: bold;
    cursor: auto;
}

.table_hold {
    min-width: 800px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

table.nganh_hoc thead tr th#ma_nganh {
    width: 80px;
}

table.nganh_hoc thead tr th#chi_tieu_du_kien,
table.nganh_hoc thead tr th#so_luong_dang_ky,
table.nganh_hoc thead tr th#to_hop_xet_tuyen,
table.danh_sach_ng thead tr th#diem {
    width: 100px;
}

table.nganh_hoc thead tr th#thoi_gian,
table.nganh_hoc thead tr th#ghi_chu {
    width: 150px;
}

table.danh_sach_ng thead tr th#ngay_sinh,
table.danh_sach_ng thead tr th#que_quan{
    width: 160px;
}

td.number_td {
    text-align: center;
}

table.danh_sach_ng thead tr th:first-child,
table.danh_sach_ng thead tr th#khoa,
table.danh_sach_ng thead tr th#dk,
table.danh_sach_ng thead tr th#khoi_xt,
table.danh_sach_ng thead tr th#hoso{
    width: 130px;
}

table.danh_sach_ng thead tr th#ten_gv {
    width: 300px;
}

table.danh_sach_ng thead tr th#date_reg{
    width: 180px;
}

table.danh_sach_ng#danh_sach_sv_nganh thead tr th#ten_sv{
    width: 350px;
}