table {
    width: 100%;
    border-collapse: collapse;
<<<<<<< HEAD
    margin: 0;
    table-layout: fixed;
}

.table_body_scroll {
    overflow-y: auto; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.table_body_scroll::-webkit-scrollbar {
    display: none; 
}

table thead {
    position: sticky;
    top: 0;
    z-index: 2; 
    background-color: #3498db;
    color: white;
=======
    margin: 25px 0;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

table thead tr {
    background-color: #3498db;
    color: #ffffff;
>>>>>>> 2a47d47965ae2a53c5cbe13f6b38375dc275a797
    text-align: center;
    font-weight: bold;
}

<<<<<<< HEAD

=======
>>>>>>> 2a47d47965ae2a53c5cbe13f6b38375dc275a797
table th, table td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
    white-space: normal;     
<<<<<<< HEAD
    word-break: break-word; 
=======
    word-break: normal; 
    overflow-wrap: break-word;
>>>>>>> 2a47d47965ae2a53c5cbe13f6b38375dc275a797
    box-sizing: border-box;
}

table.choose_list tbody tr {
    border-bottom: 1px solid #dddddd;
<<<<<<< HEAD
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

table.choose_list tbody tr:not(.error_tdtable){
    cursor: pointer;
=======
}

table.choose_list tbody tr {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
>>>>>>> 2a47d47965ae2a53c5cbe13f6b38375dc275a797
}

table.choose_list tbody tr:hover:not(.error_tdtable) {
    background-color: #e4e4e4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table.choose_list tbody tr:active:not(.error_tdtable) {
    background-color: #d4d4d4;
    box-shadow: 0;
}

.error_tdtable{
    color: red; 
    text-align: center;
    font-weight: bold;
    cursor: auto;
}

<<<<<<< HEAD
.table_hold {
    min-width: 800px;
    max-width: 900px;
=======
.table_hold{
    min-width: 1000px;
    max-width: 1100px;
>>>>>>> 2a47d47965ae2a53c5cbe13f6b38375dc275a797
    margin-left: auto;
    margin-right: auto;
}

<<<<<<< HEAD
table thead tr th#ma_nganh {
    width: 80px;
}

table thead tr th#chi_tieu_du_kien,
table thead tr th#so_luong_dang_ky,
table thead tr th#to_hop_xet_tuyen {
=======
table thead tr th#ma_nganh{
    width: 80px;
}

table tbody tr {
    cursor: pointer;
}

table thead tr th#chi_tieu_du_kien,
table thead tr th#so_luong_dang_ky,
table thead tr th#to_hop_xet_tuyen
{
>>>>>>> 2a47d47965ae2a53c5cbe13f6b38375dc275a797
    width: 100px;
}

table thead tr th#thoi_gian,
<<<<<<< HEAD
table thead tr th#ghi_chu {
    width: 150px;
}

td.number_td {
=======
table thead tr th#ghi_chu{
    width: 150px;
}

td.number_td{
>>>>>>> 2a47d47965ae2a53c5cbe13f6b38375dc275a797
    text-align: center;
}
