.info_layout{
    width: 800px;
    padding: 10px 25px;
    padding-bottom: 30px !important;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 5px 10px #21212150; 
    margin: 0 auto;
    margin-bottom: 25px !important;
}

p{
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;  
}

.info_layout h1{
    margin-left: 10px;
    margin-right: 5px;
}

.info_layout h2{
    color: darkblue;
    font-size: 30px;
}

.info_layout p,
.info_layout h2{
    margin: 10px 0;
}

#hoso_path p{
    margin-left: 10px;
}

#hoso_log{
    margin-top: 0;
} 

#diem_list{
    font-weight: bold;
    color: red;
}

.info_layout .avatar_container{
    background-color: rgb(215, 237, 250);
    border: 1px solid #8d8d8d;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
}

.info_layout .avatar_container img{
    position: absolute;
}

.avatar_container .edit_avatar_img_layout{
    position: absolute;
    border-radius: 100%;
    background-color: #3498db50;
    opacity: 0; 
    transform: scale(0.8); 
    transition: opacity 0.3s ease, transform 0.3s ease; 
}

.edit_avatar_img_layout.avatar{
    width: 300px;
    height: 150px;
    bottom: -75px;
    left: -40px;
}

.info_layout .edit_avatar_img_layout img{
    filter: invert(100%);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
}

.avatar_container:hover .edit_avatar_img_layout {
    opacity: 1;
    transform: scale(1);
}

.avatar_container:active .edit_avatar_img_layout{
    opacity: 1;
    transform: scale(0.8);
    background-color: #58bafc70;
    transition: transform 0.1s ease; 
}

.avatar_container:hover{
    box-shadow: 0px 5px 10px rgba(41, 128, 185, 0.5); 
    transition: box-shadow 0.3s ease;
}

.avatar_container:active{
    box-shadow: 0px 10px 20px rgba(41, 127, 185, 0.8); 
    transition: box-shadow 0.3s ease;
}

.hide_focus{
    display: none;
    cursor: auto;
}

.info_text_container a{
    color: #0D47A1;
    text-decoration: none;
}

table #ma_nganh,
table #chi_tieu,
table #sl_sv{
    width: 120px;
}

table #tt_dky_nganh{
    width: 180px;
}

.custom-button{
    width: 800px;
    height: 40px;
    font-size: 1.1rem; 
    font-weight: bold;
    background-color: #3399ff;
    color: white; /* Màu chữ */
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, scale 0.3s ease;
}

.custom-button:hover{
    background-color: #2685ff;
    scale: 1.02;
}

.custom-button:active{
    background-color: #007bff;
    scale: 0.98;
}

.form-fields{
    display: flex;
    flex-direction: column;
}

.form-fields label{
    margin-bottom: 5px;
}

.form-fields label:not(:first-child){
    margin-top: 15px;
}

.form-fields input{
    width: 300px;
}

.change_layout_div{
    width: fit-content;
}


#cropperModal {
    display: none; /* Ẩn modal khi chưa sử dụng */
    position: fixed; /* Cố định modal ở một vị trí trên màn hình */
    top: 50%; /* Căn giữa theo chiều dọc */
    left: 50%; /* Căn giữa theo chiều ngang */
    transform: translate(-50%, -50%); /* Dịch chuyển để căn giữa chính xác */
    background-color: white; /* Màu nền cho modal */
    padding: 20px; /* Khoảng cách nội dung so với viền */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); /* Đổ bóng */
    z-index: 1000; /* Đảm bảo modal hiển thị trên các phần tử khác */
    border-radius: 8px; /* Bo góc cho modal */
}

#cropperModal .custom-button{
    width: fit-content;
    padding: 5px 10px;
    margin-top: 10px;
}

/* Căn chỉnh hình ảnh bên trong modal */
#imagePreview {
    display: block;
    margin: 0 auto;
    max-width: 600px;
    max-height: 600px;
    height: auto;
}

input[type="checkbox"], input[type="radio"]{
    width: fit-content;
    margin: auto 10px auto 5px;
}

.checkbox_div{
    margin-bottom: 10px;
}

.checkbox_div label{
    margin: 0;
}

img.CCCD{
    max-width: 200px;
    max-height: 300px;
    width: auto;
    height: auto;
}

.edit_avatar_img_layout.cccd{
    width: 400px;
    height: 200px;
    bottom: -100px;
}

p.qweq{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: 0;
    color: gray;
}

.note{
    color: gray !important;
    font-size: 12px;
    margin-left: 0 !important;
    margin-bottom: 15px !important;
}

.form-fields .note{
    text-align: left !important;
}

.radio_gender label:not(label:last-child){
    margin-right: 30px;
}

.radio_gender label{
    margin-bottom: 0;
}

.diem_mon{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px; 
    align-items: center;
    margin: 0 auto;
}

.diem_mon input{
    width: 70px;
    height: 30px;
}

.diem_mon input[type=number]{
    text-align: center;
    padding: 5px 10px;
}

/* Ẩn mũi tên tăng/giảm trên Chrome, Safari, Edge */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

/* Ẩn mũi tên tăng/giảm trên Firefox */
.diem_mon  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=file] {
    margin-bottom: 0;
}

.proof-entry{
    display: flex;
    flex-direction: column;
}

.proof-entry *:not(button) {
    width: 300px;
    margin-bottom: 10px;
}

.note_input{
    color: gray;
    font-size: 10px;
    margin: 5px 0;
    font-style: italic;
}

.file_path_text{
    color: gray;
    font-size: 13px;
    margin: 5px 0;
    font-style: bold;
}