.table_hold{
    min-width: 1000px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

table thead tr th#ma_nganh{
    width: 80px;
}

table tbody tr {
    cursor: pointer;
}

table thead tr th#chi_tieu_du_kien,
table thead tr th#to_hop_xet_tuyen
{
    width: 100px;
}

table thead tr th#thoi_gian,
table thead tr th#ghi_chu{
    width: 150px;
}