.filter_div_options {
    width: 360px;
    max-height: 480px;
    margin: 0 auto;
    left: -50px;
    top: 25px;
    z-index: 100;
    overflow-y: auto;
    box-sizing: border-box;
}

.button_div input[type="button"]:hover {
    background-color: #0056b3;
}

/* Tạo khoảng cách giữa các nhóm bộ lọc */
.filter-group {
    margin: 10px 0;
}

/* Đảm bảo các checkbox và label được sắp xếp trên cùng một dòng */
.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.checkbox-group.tohopxettuyen{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0; 
    align-items: center;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 5px;
}

.checkbox-group label {
    margin-right: 20px;
}

.checkbox-group > * {
    flex: 0 0 auto; 
    margin-bottom: 5px;
    margin-top: 5px;
}

/* Thêm hiệu ứng con trỏ chuột để chỉ ra rằng label có thể nhấp */
input[type="checkbox"] + label {
    display: inline-block;
    cursor: pointer;
}


