@use "../../../style/variables" as v;
@use "../../../style/mixins" as mx;

  .student-section {
    @include mx.vertical-display(1rem);
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;

    .student-container {
      @include mx.horizontal-display(1.2rem);
      align-items: stretch;

        .student-card {
            width: 300px;
            text-align: center;
            transition: transform 0.3s ease-in-out;

            &:hover{
                transform: translateY(-15px);
            }

            img {
                width: 150px;
                height: 150px;
                border: 1px v.$label-color solid;
                border-radius: 50%;
                object-fit: cover;
                margin-bottom: 15px;
            }

            p:nth-of-type(1) {
                font-size: 0.8rem;
                color: v.$label-color;
                font-style: italic;
              }
            
              p:nth-of-type(2) {
                text-indent: 1.5em;
                text-align: justify;
            }
        }
    }
  }



  @media (max-width: v.$bp-lg) {
    // .student-container {
    //   display: block;
    //   max-width: 300px;
    //   margin: 0 auto;
    //   position: relative;
    //   height: 350px; /* Đảm bảo chiều cao cố định để tránh giật */
    // }
    // .student-card {
    //   display: block;
    //   opacity: 0;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   transform: translateX(50px); /* Bắt đầu từ bên phải */
    //   z-index: 1;
    // }
    // .student-card.active {
    //   opacity: 1;
    //   transform: translateX(0); /* Di chuyển vào vị trí chính giữa */
    //   z-index: 2;
    // }
  }