@use "../../../style/variables";
@use "../../../style/mixins";

.news-section {
  @include mixins.vertical-display(1rem);
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;

  &__title {
    @include mixins.vertical-display(0.5rem);

    >*{
        text-align: center;
        margin: 0;
    }

    p{
        font-style: italic;
        color: variables.$label-color;
    }
  }

  &__list{
    @include mixins.horizontal-display(30px);
    width: 100%;
    height: 300px;
    overflow-x: auto;

    &.start{
        @include mixins.animate-effect("fadeIn", 2s);
    }

    a{
        text-decoration: none;
        color: black;
    }
    

    &__ele{
        @include mixins.vertical-display(10px);
        align-items: flex-start;
        width: 240px;
        min-width: 240px;
        height: 220px;
        min-height: 240px;
        padding: 20px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        >*{
            margin: 0;
        }

        img{
            width: 200px;
        }

        h4 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 16px;
          }

        p{
            font-size: 14px;
            font-style: italic;
            color: variables.$label-color;
        }

        &.more{
            width: 100px;
            min-width: 100px;
            gap: 0px;

            img{
                width: 80px;
                transform: translateY(15px);
            }
        }
    }
  }
}