// =========================================================================
// 📌 File này chứa các animation dùng chung trong dự án
// =========================================================================

@mixin animate($name, $duration: 1s, $timing: ease-in-out, $delay: 0s, $x: 0, $y: 0, $infinite: false) {
    animation: $name $duration $timing $delay;
    @if $infinite {
        animation-iteration-count: infinite;
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(calc(var(--y, 0) - 50%));
    }
    100% {
        opacity: 1;
        transform: translateY(--y); 
    }
}

  
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
  
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(--y);
    }
    60% {
        transform: translateY(--y/2);
    }
}
  
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

