// =========================================================================
// 📌 Chứa các mixins giúp tái sử dụng code, ví dụ như căn giữa
// =========================================================================
@use 'variables' as v;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}