// ==================================================
// 📌 Biến toàn cục dùng trong toàn bộ dự án (màu sắc, font chữ)
// ==================================================

$primary-color: #007bff;
$background-blur: rgba(0, 0, 0, 0.3);
$white: #ffffff;
$gray: #666;

$font-family: 'Fira Sans', sans-serif;