@use "../../../style/variables" as v;
@use "../../../style/mixins" as mx;

.introduce-section {
  @include mx.flex-center;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;

  &__image{
    margin: 16px 0;
    display: flex;
    justify-content: flex-end;

    img{
      object-fit: contain;
      width: 80%;
    }

    &.start{
      @include mx.animate-effect("fadeInLeft", 1.5s);
      margin: 0;
    }
  }

  &__limited{
    @include mx.vertical-display(0px);
    align-items: flex-start !important;
    width: 80%;
    aspect-ratio: 20/17;

    &.start{
      @include mx.animate-effect("fadeInRight", 1.5s);
    }

    &__text{
      width: 100%;
      height: calc(100% - 2rem);
      overflow: hidden;
    }

    &__link{
      color: v.$label-color;
      font-style: italic;
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .introduce-section__control{
    @include mx.horizontal-grid(3rem);
    max-height: 400px; 
    overflow: hidden;
    .introduce-section__limited{
      max-height: 390px !important;
    }
    img{
      max-height: 1000px;
    }
  }
}

@media screen and (max-width: 768px) {
  .introduce-section__control{
    @include mx.vertical-display(1rem);

    >*{
      justify-content: center !important;
    }

  }

  .introduce-section__limited{
    height: 20rem;
  }
}
